.photo {
	text-align: center;
}

.pBody {
	text-indent: 25px;
}

.polaroid {
	text-align: center;
	display: inline-block;
	max-width: 100%;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container {
	text-align: center;
	padding: 10px 20px;
}

.flex-row {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.image {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: 0.5s ease;
	backface-visibility: hidden;
}

.middle {
	transition: 0.5s ease;
	opacity: 0;
	visibility: hidden;
	height: 0px;
}

.polaroid:hover .image {
	opacity: 0.3;
}

.polaroid:hover .middle {
	opacity: 1;
	visibility: visible;
}

.text {
	background-color: #440000;
	color: white;
	font-size: 16px;
	padding: 16px 32px;
}
